@layer reset, init, design;

@import "normalize.css";
@import "typography.css";

@layer init {
  :root {
    color-scheme: light dark;
    color: light-dark(var(--color-dark), var(--color-light));
    background-color: light-dark(var(--color-light), var(--color-dark));

    --color-primary:#F01F87;
    --color-secondary: #39D0C1;
    --color-light: #F7F2F6;
    --color-dark: #292F3D;
    --change-dark: light-dark(var(--color-dark), var(--color-light));
    --change-light: light-dark(var(--color-light), var(--color-dark));
  }

  body {
    min-height: 100vh;
  }
  .image--responsive{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }

  .btn {
    color: var(--color-primary);
    background-color: transparent;
    border: 2px solid var(--color-primary, deeppink);
    border-radius: 7px;
    padding: 0.8rem 1.5rem;
    font-size: 0.8em;
    transition: background-color 200ms ease-in;
  }
  .btn:hover{
    background-color: rgba(240, 31, 135, 0.2);
  }
  .btn--active, .btn--form:hover { background: linear-gradient(81deg, rgba(240, 31, 135, 0.36) 0%, rgba(247, 242, 246, 0) 86.99%); }
  .btn--card{
    color: var(--change-light);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
  .btn--card:hover{
    color: var(--color-primary);
    background-color: transparent;
  }
  .btn--form {
    color: var(--color-light);
    background-color: transparent;
    border-color: var(--color-light);
  }

  .intro__logo::before {
    content: "";
    display: block;
    background: center / contain no-repeat transparent;
    background-image: url("../../public/icons/logo.svg");
    width: 100px;
    height: 100%;
    padding: 2rem;
    margin: -2rem auto;
  }

  .intro__logo > span { display: none; }
}

@layer design {
/* HEADER */
  .desktop { display: none}

  .page__header{
    height: 35vh;
    background: linear-gradient(175deg, rgba(240, 31, 135, 0.32) 0%, rgba(247, 242, 246, 0) 60%);
  }
  .header--diff{
    height: 75vh;
    background-image: 
      linear-gradient(0deg, var(--change-light), rgba(255, 255, 255, 0)),
      url(/bgheader.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .page__header__intro {
    display: flex;
    flex-direction: column;
    gap: 5em;
    align-items: center;
    justify-content: end;
    height: 90%;
  }
  .intro__logo {
    display: block;
    height: 2em;
    margin: 0 auto;
    padding: 2rem;
  }
  .intro__nav {
    all: unset;
    display: flex;
    gap: 1em;
    padding: 0;
  }
  .line {
    display: block;
    margin: 2rem auto;
    fill: var(--color-secondary, mediumturquoise);
  }


/* MAIN */
  .content__head{
    margin-bottom: 3rem;
  }
  .page__content{
    padding: 1rem 4rem;
  }

  .page_content__header{
    display: flex;
  }

  .service__main, .service__price {
    display: flex;
    align-items: center;
  }
  .service__main img, .service__price img{
    height: 2rem;
    padding: 1rem;
  }

  .section__main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .section__card {
    margin: 5rem auto;
    max-width: 304px;
  }

  .card--service{
    margin: 4rem 1rem;
  }

  .page__content__section.section--grid {
    display: grid;
    margin: 3rem;
    column-gap: 5rem;
    row-gap: 2rem;
    grid-template-areas: "intro"
                         "photo"
                         "info";
  }

  .section--grid .section__intro {
      grid-area: intro;
  }

  .section--grid .card__photo {
    grid-area: photo;
  }

  .section--grid .card__info  {
    grid-area: info;
  }

  .section--flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .section--flex .btn {
    margin: 2rem;
  }

  .page__content__contacts {
    border: 2px dashed var(--color-secondary);
    padding: 2rem;
    text-align: center;
    width: 60vw;
    margin: 2rem auto;
    max-width: 1040px;
  }
  
  .contacts__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .page__content__contacts > h2::after { display: none; }
  .page__content__contacts h3 { margin: -1rem }

  .page__content__service { padding: 3rem 0; }

  .contacts__article {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2rem 0;
    max-width: 224px;
  }

  .contact__icon { height: 3rem; }
  .contacts__link { color: var(--color-secondary) }
  .contacts__link:hover{ color: var(--color-primary) }

  .service__gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    margin: 2rem;
    max-width: 544px;
  }

  .gallery__item { margin: 0; }

  .gallery__item > a {
    height: 100%;
    width: 100%;
  }

  .place1 { grid-column: 1 / span 1; grid-row: 1 / span 1; }
  .place2 { grid-column: 2 / span 2; grid-row: 1 / span 1; }
  .place3 { grid-column: 1 / span 2; grid-row: 2 / span 1; }
  .place4 { grid-column: 3 / span 1; grid-row: 2 / span 1; }


  /* FOOTER */
  .page__footer{
    justify-items: center;
    background: linear-gradient(22deg, #F01F87 -16.45%, #292F3D 50.15%);
  }

  .intro__logo {
    grid-area: logo;
  }

  .main__form {
    grid-area: form;
    width: 75vw;
    max-width: 560px;
    margin: 3em;
    justify-items: center;
    align-items: center;
    border: 2px solid var(--change-dark);
    border-radius: 20px;
    color: var(--color-light);
    background-color: var(--color-dark);
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 2rem;
    padding: 2rem;
  }

  .main__form .input{
      display: block;
      margin: 0;
      border: none;
      border-bottom: 2px solid var(--color-light);
      color: var(--color-light);
      background-color: transparent;
      box-shadow: none;
      width: 100%;
  }

   .main__form .input:focus{
    border: none;
    background-color: rgba(240, 31, 135, 0.2);
   }

   .main__text > h3, .page__content__contacts h3 {
    border: none;
    color: var(--color-primary);
   }

  .form__group {
    grid-column: 1 / span 1;
    width: 100%;
  }
  .main__info {
    grid-area: info;
    width: 75vw;
    max-width: 624px;
    padding: 2rem;
    margin-top: 2rem;
    border-top: 2px solid var(--change-dark);
    border-bottom: 2px solid var(--change-dark);
  }

  .page__footer__copyright {
    margin: 0;
    padding: 2rem;
  }

  .page__footer h3{
      border: none;
      padding-top: 2rem;
      padding-bottom: 1rem;
      margin: 0;
      color: var(--color-primary)
    }

  .link {
    display: flex;
    justify-items: center;
    color: var(--change-dark);
    transition: color 200ms ease-in;
    align-items: center;
  }

  .link:hover { color: var(--color-primary); }

  .icon::before{
    content: "";
    display: inline-block;
    background: center / contain no-repeat transparent;
    width: 2em;
    height: 2rem;
    padding-right: 3rem;
  }

  .icon--email::before{ background-image: url("../../public/icons/tabler--send.svg"); }
  .icon--ig::before{ background-image: url("../../public/icons/tabler--brand-instagram.svg"); }
  .icon--phone::before{ background-image: url("../../public/icons/tabler--phone.svg"); }
  .icon--money::before{ background-image: url("../../public/icons/tabler--pig-money.svg"); }
  .icon--info::before{ background-image: url("../../public/icons/tabler--info-circle.svg"); }
  .icon--scissor::before{ background-image: url("../../public/icons/tabler--scissors.svg"); }
  .icon--person::before{ background-image: url("../../public/icons/tabler--user.svg"); }



  @media only screen and (min-width: 1080px) {

    .desktop {
      display: inline-block;
    }

    .page__content{
      max-width: 1280px;
      margin: 0 auto;
    }

    .section__intro > .btn {
      padding: 0.5rem 1rem;
      margin: 1rem;
    }

    .page__content__section.section--grid{
    display: grid;
    grid-template-areas: "intro photo"
                         "info  photo";
  }
    .section__intro > p{
      max-width: 720px;
    }

    .main__form {
      grid-template-columns: 1fr 1.3fr;
    }

    .group--full, .main__form >h4 {
      grid-column: 1 / span 2;
    }

    .page__footer__main {
      display: grid;
      grid-template-areas: "logo form"
                           "info form";
    }

    .g1 { grid-column: 1 / span 1; }
    .g2 { grid-column: 2 / span 1; }

    .service__gallery{
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 150px;
    max-width: 1360px;
    }

    .place1 { grid-column: 1 / span 1; grid-row: 1 / span 1; }
    .place2 { grid-column: 2 / span 2; grid-row: 1 / span 1; }
    .place3 { grid-column: 5 / span 2; grid-row: 1 / span 1; }
    .place4 { grid-column: 4 / span 1; grid-row: 1 / span 1; }

  }
}