@layer reset, init, design;

@import "normalize.css";
@import "typography.css";

@layer init {
  :root {
    color-scheme: light dark;
    color: light-dark(var(--color-dark), var(--color-light));
    background-color: light-dark(var(--color-light), var(--color-dark));

    --color-primary:#F01F87;
    --color-secondary: #39D0C1;
    --color-light: #F7F2F6;
    --color-dark: #292F3D;
    --background-color: light-dark(var(--color-light), var(--color-dark));
  }

  body {
    min-width: 320px;
    min-height: 100vh;
  }
  .image--responzive{
    width: 100%;
    display: block;
  }
  .btn {
    place-items: center;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    font-size: 0.8em;
    background-color: transparent;
    transition: background 200ms ease-in;
  }
  .btn.btn--active {
    background: linear-gradient(81deg, rgba(240, 31, 135, 0.36) 0%, rgba(247, 242, 246, 0) 86.99%);
  }
  .btn:has(a:hover) {
    background-color: rgba(240, 31, 135, 0.3);
  }
  .page__logo::before {
    content: "";
    display: block;
    background: center / contain no-repeat transparent;
    background-image: url("../../public/logo.svg");
    width: 80px;
    height: 100%;
    font-size: 1.5em;
    padding: 2em;
  }
  .page__logo > span {
    display: none;
  }
}

@layer design {
/* HEADER */
  .page__header{
    height: 35vh;
    background: linear-gradient(175deg, rgba(240, 31, 135, 0.32) 0%, rgba(247, 242, 246, 0) 60%);
  }
  .header--main{
    height: 75vh;
    background-image: 
      linear-gradient(0deg, var(--background-color), rgba(255, 255, 255, 0)),
      url(/public/bgheader.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .page__intro {
    display: flex;
    flex-direction: column;
    gap: 5em;
    align-items: center;
    justify-content: end;
    height: 90%;
  }
  .page__logo {
    display: block;
    height: 2em;
    margin: 0 auto;
    padding: 2em;
  }
  .page__nav {
    display: flex;
    gap: 1em;
    padding: 0;
  }
  .line {
    display: block;
    margin: 2em auto;
    fill: var(--color-secondary);
  }


/* MAIN */

}