@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

@layer reset {
:root {
    font-family:  "Montserrat", Helvetica, Arial, sans-serif; /* Přidat MONTSERRAT */
    line-height: 1.5;
    font-weight: 400;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    color: var(--color-primary);
    text-decoration: none;
    padding: 12px 28px;
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}