@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

:root {
    font-family:  "Montserrat", Helvetica, Arial, sans-serif; /* Přidat MONTSERRAT */
    line-height: 1.5;
    font-weight: 500;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  li {
    list-style: none;
  }
   
  h1 {
  }